body {
	background-color: #463E77;
}

h1 {
	font-family: Georgia;
	font-size: 26px;
	font-color: black;
	margin: auto;
}

img {
	margin-left: auto;
	margin-right: auto;

}

ul {
	list-style-type: none;
	position: fixed;
	border: 2px solid black
	background-color: white;
}
